export XAUTHORITY=$HOME/.Xauthority

# IBus
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus

# GTK
export GTK_THEME=Breeze:dark
export GDK_SCALE=1
export GDK_DPI_SCALE=1

# QT
export QT_QPA_PLATFORMTHEME=KDE
# export QT_AUTO_SCREEN_SCALE_FACTOR=0
# export QT_SCREEN_SCALE_FACTORS=2
# export QT_SCALE_FACTOR=2

# Cursor
export XCURSOR_THEME="Adwaita"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# CPU cores
export NUMCPUS=`grep -c '^processor' /proc/cpuinfo`

# Autostart
flameshot &
yakuake &
ibus-daemon -drx
